extends ../layout

block content
  .page-header
    h3 List
    ul
      each track, index in tracks
        li
          a(href="/trackr/" + track._id) #{track.formatted_date()} : #{track.description} 