extends ../layout

block content
  .page-header
    h3 Trackr
    ul
      li
        span Date 
        | #{trackr.formatted_date()}
      li
        span Description 
        | #{trackr.description}
      li
        a(href="/trackr/" + trackr._id + '/edit') 
          i.fa.fa-edit  
      li
        form.form-horizontal(id='delete-trackr', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          button(id='delete-trackr' data-id=trackr._id)
            i.fa.fa-remove